.panel {
  display: flex;

  gap: 20px;

  width: 100%;

  button {
    font-size: 15px;

    width: 100%;

    height: 50px;

    background: cyan;

    cursor: pointer;

    border: none;

    border-radius: 10px;

    transition: 0.5s ease-in-out;

    &:hover,
    &:focus {
      transform: scale(1.1);

      box-shadow: 0 0 15px cyan;
    }
  }
}
