.login {
  padding: 15px;

  display: flex;

  flex-direction: column;

  gap: 15px;

  justify-content: center;

  align-items: center;

  @media (max-width: 575px) {
    width: 100%;
  }

  @media (min-width: 576px) and (max-width: 767px) {
    width: 440px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    width: 440px;
  }

  @media (min-width: 992px) and (max-width: 1999px) {
    width: 440px;
  }
  @media (min-width: 2000px) {
    width: 440px;
  }
}
