.account_button {
  position: relative;
  cursor: pointer;
  border: none;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 217, 231, 1);
  border-radius: 10px;
  background-image: url(account.svg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s;

  z-index: 10;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover,
  &:focus {
    box-shadow: 0 0 15px rgba(0, 217, 231, 1);
    outline: none;
  }

  @media screen and (max-width: 575px) {
    order: -1;
  }

  @media screen and (min-width: 576px) and (max-width: 767px) {
    order: -1;
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    order: 0;
  }

  @media screen and (min-width: 992px) and (max-width: 1999px) {
    order: 0;
  }
  @media screen and (min-width: 2000px) {
    order: 0;
  }
}
