.panel {
  display: flex;

  flex-direction: row;

  flex-wrap: wrap;

  justify-content: center;

  align-items: center;

  gap: 15px;

  width: 100%;

  padding: 10px 0 0 0;
}

.panel_tv {
  flex-wrap: nowrap;
  overflow-x: hidden;
  padding: 0;
  box-sizing: border-box;
  justify-content: flex-start;
  padding: 10px 10px 15px;
  height: calc(100vh - (50px + 20px + 15px + 10px + 15px));
  scroll-snap-type: x mandatory;
  scroll-padding: 50%;
}
