.panel {
  display: flex;

  flex-direction: row;

  flex-wrap: wrap;

  justify-content: center;

  gap: 15px;

  width: 100%;
}

.panel_tv {
  height: calc(100vh - 80px);
  flex-wrap: nowrap;
  overflow-x: hidden;
  justify-content: flex-start;
  padding: 10px 10px 15px;
}
