.search_panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  @media screen and (max-width: 575px) {
    width: 100%;
    order: 2;
  }

  @media screen and (min-width: 576px) and (max-width: 767px) {
    width: 100%;
    order: 2;
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    order: 1;
    width: calc(100% - 201.6px - 105px);
  }

  @media screen and (min-width: 992px) and (max-width: 1999px) {
    order: 1;
    width: calc(100% - 201.6px - 105px);
  }
  @media screen and (min-width: 2000px) {
    order: 1;
    width: calc(100% - 201.6px - 105px);
  }
}
