.show_more {
  width: 100%;

  display: flex;

  justify-content: center;

  align-items: center;

  button {
    display: block;

    width: 164px;

    text-decoration: none;

    color: rgba(0, 217, 231, 1);

    background: none;

    cursor: pointer;

    text-align: center;

    padding: 15px;

    font-size: 15px;

    border: solid 1px rgba(0, 217, 231, 1);

    border-radius: 10px;

    transition: 0.5s ease-in-out;

    &:hover,
    &:focus {
      transform: scale(1.01);
      outline: none;
      background: rgba(0, 217, 231, 1);
      color: #111;
    }
  }
}

.show_more_tv {
  height: 220px;
  button {
    height: 220px;
  }
}
