.card {
  padding: 20px;

  width: 120px;

  height: 180px;

  border-radius: 10px;

  cursor: pointer;

  transition: 0.5s;

  &:hover {
    box-shadow: 0 0 15px cyan;
    transform: scale(1.1);
  }
}
