.panel {
  display: flex;

  flex-direction: row;

  flex-wrap: wrap;

  justify-content: center;

  color: wheat;

  width: 690px;

  gap: 20px;
}

.card {
  padding: 20px;

  width: 80px;

  height: 133px;

  border-radius: 10px;

  cursor: pointer;

  transition: 0.5s;

  &:hover {
    box-shadow: 0 0 15px cyan;
    transform: scale(1.1);
  }
}
