.search_panel {
  display: flex;

  flex-direction: row;

  gap: 20px;
}

.search_button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 20px 30px;
  background-image: url(search.svg);
  background-color: cyan;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s;

  &:hover {
    box-shadow: 0 0 15px cyan;
    transform: scale(1.05);
  }
}

.search {
  padding: 20px;

  box-sizing: border-box;

  outline: none;

  background: none;

  border-radius: 10px;

  border: 2px solid #555;

  color: white;

  width: 600px;

  transition: 0.5s;

  font-size: 15px;

  &:focus {
    box-shadow: 0 0 25px cyan;
  }

  &::placeholder {
    font-size: 15px;
  }

  &:hover {
    box-shadow: 0 0 25px cyan;
  }
}
