.form_login {
  width: 100%;

  display: flex;

  flex-direction: column;

  gap: 15px;

  form {
    display: flex;

    flex-direction: column;

    gap: 15px;

    order: 5;

    input {
      height: 50px;

      padding: 0 20px 0 20px;

      box-sizing: border-box;

      outline: none;

      background: none;

      border-radius: 10px;

      border: 2px solid #555;

      color: white;

      transition: 0.5s;

      font-size: 15px;

      &:focus {
        box-shadow: 0 0 25px rgba(0, 217, 231, 1);
      }

      &::placeholder {
        font-size: 15px;
      }

      &:hover {
        box-shadow: 0 0 25px rgba(0, 217, 231, 1);
      }
    }
    a {
      display: block;
      color: rgba(0, 217, 231, 1);
      transition: 0.5s;
      &:hover {
        transform: scale(1.1);
        text-shadow: 0 0 25px rgba(0, 217, 231, 1);
      }
    }
    button {
      cursor: pointer;
      border: none;
      border-radius: 10px;
      height: 50px;
      background-color: rgba(0, 217, 231, 1);
      background-size: 40%;
      background-repeat: no-repeat;
      background-position: center;
      transition: 0.5s;

      &:hover,
      &:focus {
        box-shadow: 0 0 15px rgba(0, 217, 231, 1);
        transform: scale(1.05);
        outline: none;
      }
    }
    p {
      text-align: center;
      margin: 0;
    }
  }
}
