.rating {
  display: flex;

  gap: 15px;

  flex-wrap: wrap;

  align-items: center;

  @media screen and (max-width: 575px) {
    justify-content: center;
  }

  @media screen and (min-width: 576px) and (max-width: 767px) {
    justify-content: center;
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    justify-content: flex-start;
  }

  @media screen and (min-width: 992px) and (max-width: 1999px) {
    justify-content: flex-start;
  }
  @media screen and (min-width: 2000px) {
    justify-content: flex-start;
  }

  .age {
    background: white;

    border-radius: 10px;

    color: black;

    font-size: 28px;

    width: max-content;

    p {
      margin: 10px 10px;
    }
  }

  .kp {
    display: flex;

    align-items: center;

    gap: 10px;

    div {
      background: url("./kp.svg");

      width: 60px;

      height: 60px;

      background-repeat: no-repeat;

      background-size: cover;
    }

    p {
      font-size: 20px;

      margin: 0;

      color: orange;
    }
  }

  .imdb {
    display: flex;

    align-items: center;

    gap: 10px;

    div {
      background: url("./imdb.jpg");

      width: 55px;

      height: 55px;

      background-repeat: no-repeat;

      border-radius: 8px;

      background-size: cover;
    }

    p {
      font-size: 20px;

      margin: 0;

      color: yellow;
    }
  }
}
