.top_panel {
  width: 100%;
  .info {
    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    justify-content: space-around;

    gap: 20px;

    width: 100%;

    padding: 0 0 0;
  }
}
