@keyframes blur {
  from {
    text-shadow: 0 0 15px darkorchid;
  }
  to {
    text-shadow: 0 0 25px darkorchid;
  }
}

.header {
  color: darkorchid;

  margin: 0;

  animation: 2s infinite alternate blur ease-in-out;

  text-align: left;
}
